# Data Analytics using Pandas

**Importing Libraries**

In [174]:
import pandas as pd
import numpy as np

In [175]:
from google.colab import files
uploaded = files.upload()

### Problem 1: Titanic Dataset

1. Import the `titanic3.csv` file into a Pandas DataFrame.

   Here is some metadata about the `titanic3.csv` dataset: http://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf

In [176]:
titanic = pd.read_csv('titanic3.csv')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

2. How many rows and colums are in the dataset? What are the data types of the columns?

In [177]:
len(titanic.columns)

14

In [178]:
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

1309 rows

3. Build a new dataframe of only the columns that identify the passenger's fare class, if they survived, their gender, and their age.

In [179]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [180]:
titanic2 = titanic.filter(['fare', 'survived', 'sex', 'age'], axis=1)

In [181]:
titanic2.head()

       fare  survived     sex     age
0  211.3375         1  female      29
1    151.55         1    male  0.9167
2    151.55         0  female       2
3    151.55         0    male      30
4    151.55         0  female      25

4. How many passenger classes are represented in the data? How many passengers were in each class?

In [182]:
from pandas.tseries.frequencies import unique
unique(titanic['pclass'].values)

array([1, 2, 3])

In [183]:
titanic['pclass'].value_counts()

3    709
1    323
2    277
Name: pclass, dtype: int64

5. Create a filter and apply it to the original dataframe. Create a new dataframe in which only the rows where the passenger survived are included.

In [184]:
titanic.survived

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

In [185]:
titanic_survive = titanic['survived'] == 1
titanic_survive

titanic_s = titanic[titanic_survive]
titanic_s

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.55,E12,S,3,?,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,?,"Hudson, NY"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,?,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,3,1,"Turkula, Mrs. (Hedwig)",female,63,0,0,4134,9.5875,?,S,15,?,?
1277,3,1,"Vartanian, Mr. David",male,22,0,0,2658,7.225,?,C,13 15,?,?
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38,0,0,2688,7.2292,?,C,C,?,?
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,?,S,?,?,?
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?,?,?

6. From the entire dataset, what fraction of passengers survived?

In [186]:
500/1309

0.3819709702062643

7. Create a new dataframe of only female passengers that survived.

In [187]:
titanic.sex.value_counts()

male      843
female    466
Name: sex, dtype: int64

In [188]:
female = titanic['sex'] == 'female'
titanic_fem = titanic[female]

In [189]:
titanic_fem

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,?,"Hudson, NY"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,?,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38,0,0,2688,7.2292,?,C,C,?,?
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,?,S,?,?,?
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?,?,?
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?

### Problem 2: Churn Rate of Telecom Operator Clients

In the context of a mobile operator or telecommunications company, **churning** typically refers to the phenomenon of customers switching from one mobile service provider to another.

Customer churn occurs when subscribers decide to terminate their existing mobile phone contracts or plans with one carrier and move to another carrier for various reasons.

1. Import the `telecom_churn.csv` file into a Pandas DataFrame.

In [190]:
telecom = pd.read_csv('telecom_churn.csv')
telecom.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [191]:
telecom = pd.read_csv('telecom_churn.csv')
telecom

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

2. Change the data type of `Churn` column into `int64` using `astype` method. Determine the percentage of customers who have churned and those who have not churned.

In [192]:
telecom = telecom.astype({'Churn': 'int64'})

In [193]:
telecom.Churn.value_counts()

0    2850
1     483
Name: Churn, dtype: int64

In [194]:
483/3333

0.14491449144914492

In [195]:
1- 0.14491449144914492

0.8550855085508551

3. Calculate the average duration of daytime phone usage for customers who have churned.

In [196]:
churned = telecom['Churn'] == 1

telecom_churned = telecom[churned]
telecom_churned

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
15,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
21,CO,77,408,No,No,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,1
33,AZ,12,408,No,No,0,249.6,118,42.43,252.4,119,21.45,280.2,90,12.61,11.8,3,3.19,1,1
41,MD,135,408,Yes,Yes,41,173.1,85,29.43,203.9,107,17.33,122.2,78,5.50,14.6,15,3.94,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,1
3304,IL,71,510,Yes,No,0,186.1,114,31.64,198.6,140,16.88,206.5,80,9.29,13.8,5,3.73,4,1
3320,GA,122,510,Yes,No,0,140.0,101,23.80,196.4,77,16.69,120.1,133,5.40,9.7,4,2.62,4,1
3322,MD,62,408,No,No,0,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,1
3323,IN,117,415,No,No,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,1

In [197]:
(sum(telecom_churned['Total day minutes']))/483

206.91407867494814

4. Find the maximum duration of international calls made by loyal customers (`Churn == 0`) who do not have an international plan.

In [198]:
loyal = telecom['Churn'] == 0
telecom_loyal = telecom[loyal]
telecom_loyal

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [199]:
no_intplan = telecom_loyal['International plan'] == 'No'
telecom_loyal = telecom_loyal[no_intplan]
telecom_loyal

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [200]:
max(telecom_loyal['Total intl minutes'])

18.9

5. Add a new column to the DataFrame that displays the total number of calls made by each user.

In [201]:
telecom['Total calls'] = telecom['Total day calls'] + telecom['Total night calls'] + telecom['Total eve calls'] + telecom['Total intl calls']
telecom['Total calls']

0       303
1       332
2       333
3       255
4       359
       ...
3328    292
3329    239
3330    264
3331    336
3332    276
Name: Total calls, Length: 3333, dtype: int64

In [202]:
telecom2 = pd.DataFrame(telecom['Total calls'])
telecom = pd.merge(telecom, telecom2)
telecom

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
1,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
2,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
3,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
4,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94034,NC,122,415,No,No,0,215.6,86,36.65,167.8,...,14.26,207.0,67,9.32,6.4,8,1.73,3,0,220
94035,AK,103,510,No,No,0,190.9,62,32.45,226.6,...,19.26,230.1,96,10.35,7.8,3,2.11,2,0,214
94036,NC,129,415,No,No,0,54.7,131,9.30,256.1,...,21.77,176.6,135,7.95,11.1,4,3.00,1,0,375
94037,DC,24,408,No,No,0,149.0,73,25.33,131.0,...,11.14,238.6,69,10.74,8.6,3,2.32,2,1,226
94038,ID,103,415,No,No,0,70.9,134,12.05,134.5,...,11.43,168.8,164,7.60,12.0,6,3.24,2,0,416

### Problem 3: Olympic Events

Use the Olympic data (`athlete_events.csv`) to answer.

In [203]:
athlete = pd.read_csv('athlete_events.csv')
athlete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

1. For all athletes that have competed in the Event "Boxing Women's Flyweight", print out their names in alphabetical order.  If there are duplicate names, be sure to print each name only once.
<P>

  The list I generated was:<BR>
```
Erica dos Santos Matos
Ingrit Lorena Valencia Victoria
Judith Mbougnade
Karlha Francesca Magliocco
Karolina Michalczuk
Kim Hye-Song
Mandy Marie Brigitte Bujold
Mangte Chungneijang Mary Kom
Marlen Esparza Puentes
Maroua Rahali
Nicola Virginia Adams
Peamwilai Laopeam
Ren Cancan
Sarah Ourahmoune
Siona Fernandes
Stanimira Petrova
Stoyka Zhelyazkova Petrova
Tetiana Volodymyrivna Kob
Yelena Vladimirovna Savelyeva
Yodgoroy Mirzayeva
Zhayna Shekerbekova
Zohra Ez Zahraoui
```

In [204]:
w_box = athlete['Event'] == "Boxing Women's Flyweight"
athlete_wbox = athlete[w_box]
athlete_wbox = athlete_wbox.sort_values('Name')

In [205]:
unique(athlete_wbox.Name.values)

array(['Erica dos Santos Matos', 'Ingrit Lorena Valencia Victoria',
       'Judith Mbougnade', 'Karlha Francesca Magliocco',
       'Karolina Michalczuk', 'Kim Hye-Song',
       'Mandy Marie Brigitte Bujold', 'Mangte Chungneijang Mary Kom',
       'Marlen Esparza Puentes', 'Maroua Rahali', 'Nicola Virginia Adams',
       'Peamwilai Laopeam', 'Ren Cancan', 'Sarah Ourahmoune',
       'Siona Fernandes', 'Stanimira Petrova',
       'Stoyka Zhelyazkova Petrova', 'Tetiana Volodymyrivna Kob',
       'Yelena Vladimirovna Savelyeva', 'Yodgoroy Mirzayeva',
       'Zhayna Shekerbekova', 'Zohra Ez Zahraoui'], dtype=object)

2. From the raw data, which 'Event' had the most athletes over the years? Which had the least?
<P>

  My answer:
```
Football Men's Football          5733   
Aeronautics Mixed Aeronautics       1    
```

In [206]:
athlete.Event.value_counts()

Football Men's Football                                5733
Ice Hockey Men's Ice Hockey                            4762
Hockey Men's Hockey                                    3958
Water Polo Men's Water Polo                            3358
Basketball Men's Basketball                            3280
                                                       ...
Croquet Mixed Doubles                                     2
Archery Men's Target Archery, 50 metres, Individual       2
Archery Men's Target Archery, 33 metres, Individual       2
Archery Men's Target Archery, 28 metres, Individual       2
Aeronautics Mixed Aeronautics                             1
Name: Event, Length: 765, dtype: int64

3. Which country participated in the most events in a given year? Which year and how many events?

  My answer was:
```
Country: USA, Year: 1904, Number of Events: 1109
```

In [207]:
athlete_sorted = athlete.sort_values('Year')
athlete_eventdf = athlete_sorted.groupby(['NOC', 'Year']).count()

In [208]:
max(athlete_eventdf['Event'])

1109

In [209]:
athlete_eventdf

          ID  Name  Sex  Age  Height  Weight  Team  Games  Season  City  \
NOC Year
AFG 1936  16    16   16   15       0       0    16     16      16    16
    1948  25    25   25    0       0       0    25     25      25    25
    1956  12    12   12    0       0       0    12     12      12    12
    1960  16    16   16   16      16      16    16     16      16    16
    1964   8     8    8    7       2       4     8      8       8     8
...       ..   ...  ...  ...     ...     ...   ...    ...     ...   ...
ZIM 2004  14    14   14   14      14      14    14     14      14    14
    2008  16    16   16   16      14      14    16     16      16    16
    2012   9     9    9    9       9       9     9      9       9     9
    2014   2     2    2    2       2       2     2      2       2     2
    2016  31    31   31   31      31      31    31     31      31    31

          Sport  Event  Medal
NOC Year
AFG 1936     16     16      0
    1948     25     25      0
    1956     12     12      0
    1960     16     16      0
    1964      8      8      0
...         ...    ...    ...
ZIM 2004     14     14      3
    2008     16     16      4
    2012      9      9      0
    2014      2      2      0
    2016     31     31      0

[3305 rows x 13 columns]

In [210]:
athlete_eventdf.loc[athlete_eventdf['Event'] == max(athlete_eventdf['Event'])]

,,ID,Name,Sex,Age,Height,Weight,Team,Games,Season,City,Sport,Event,Medal
NOC,Year,,,,,,,,,,,,,
USA,1904,1109,1109,1109,887,172,115,1109,1109,1109,1109,1109,1109,394

### Problem 4: Countries Dataset

1. Load the data from the `countries.csv` file into a Pandas data frame.

In [211]:
countries = pd.read_csv('countries.csv')
countries

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987
1,Albania,Europe,2877800,78.57,2.89,11803.431
2,Algeria,Africa,43851043,76.88,1.90,13913.839
3,Andorra,Europe,77265,83.73,NaN,NaN
4,Angola,Africa,32866268,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583,75.40,2.60,6171.884
206,Western Sahara,Africa,597330,70.26,NaN,NaN
207,Yemen,Asia,29825968,66.12,0.70,1479.147
208,Zambia,Africa,18383956,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927,61.49,1.70,1899.775

2. What is the overall life expectancy across in the world?

  Hint: You'll need to take a weighted average of life expectancy using populations as weights.

In [212]:
countries['product'] = countries['life_expectancy'] * countries['population']
product = pd.DataFrame(countries['product'])
pd.merge(countries, product)
countries.head()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,product
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,2.523724e+09
1,Albania,Europe,2877800,78.57,2.89,11803.431,2.261087e+08
2,Algeria,Africa,43851043,76.88,1.90,13913.839,3.371268e+09
3,Andorra,Europe,77265,83.73,NaN,NaN,6.469398e+06
4,Angola,Africa,32866268,61.15,NaN,5819.495,2.009772e+09

In [213]:
countries['product'].sum() / countries['population'].sum()

72.72165193409664

3. Create a dataframe containing 10 countries with the highest population.

In [214]:
countries_highpop = countries.sort_values('population')
countries_highpop[:10]

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,product
203,Vatican,Europe,809,75.12,NaN,NaN,60772.08
65,Falkland Islands,South America,3483,81.44,NaN,NaN,283655.52
130,Montserrat,North America,4999,74.16,NaN,NaN,370725.84
5,Anguilla,North America,15002,81.88,NaN,NaN,1228363.76
24,Bonaire Sint Eustatius and Saba,North America,26221,77.79,NaN,NaN,2039731.59
28,British Virgin Islands,North America,30237,79.07,NaN,NaN,2390839.59
75,Gibraltar,Europe,33691,79.93,NaN,NaN,2692921.63
162,San Marino,Europe,33938,84.97,3.800,56861.47,2883711.86
113,Liechtenstein,Europe,38137,82.49,2.397,NaN,3145921.13
194,Turks and Caicos Islands,North America,38718,80.22,NaN,NaN,3105957.96

4. Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).

In [215]:
countries['GDP'] = countries['population'] * countries['gdp_per_capita']
gdp_df = pd.DataFrame(countries['GDP'])
countries = pd.merge(countries, gdp_df)
countries

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,product,GDP
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,2.523724e+09,7.022622e+10
1,Albania,Europe,2877800,78.57,2.89,11803.431,2.261087e+08,3.396791e+10
2,Algeria,Africa,43851043,76.88,1.90,13913.839,3.371268e+09,6.101364e+11
3,Andorra,Europe,77265,83.73,NaN,NaN,6.469398e+06,NaN
4,Andorra,Europe,77265,83.73,NaN,NaN,6.469398e+06,NaN
...,...,...,...,...,...,...,...,...
907,Venezuela,South America,28435943,72.06,0.80,16745.022,2.049094e+09,4.761605e+11
908,Vietnam,Asia,97338583,75.40,2.60,6171.884,7.339329e+09,6.007624e+11
909,Yemen,Asia,29825968,66.12,0.70,1479.147,1.972093e+09,4.411699e+10
910,Zambia,Africa,18383956,63.89,2.00,3689.251,1.174551e+09,6.782303e+10
911,Zimbabwe,Africa,14862927,61.49,1.70,1899.775,9.139214e+08,2.823622e+10

5. Create a dataframe containing 10 countries with the lowest GDP per capita, among the countries with population greater than 100 million.

In [216]:
pop100 = countries['population'] > 100000000
countries_pop100 = countries[pop100]
countries_pop100 = countries_pop100.sort_values('gdp_per_capita')
countries_pop100 = countries_pop100[:10]
countries_pop100

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,product,GDP
786,Ethiopia,Africa,114963583,66.60,0.30,1729.927,7.656575e+09,1.988786e+11
742,Bangladesh,Asia,164689383,72.59,0.80,3523.984,1.195480e+10,5.803628e+11
854,Pakistan,Asia,220892331,67.27,0.60,5034.708,1.485943e+10,1.112128e+12
851,Nigeria,Africa,206139587,54.69,NaN,5338.454,1.127377e+10,1.100467e+12
806,India,Asia,1380004385,69.66,0.53,6426.674,9.613111e+10,8.868838e+12
860,Philippines,Asia,109581085,71.23,1.00,7599.188,7.805461e+09,8.327273e+11
781,Egypt,Africa,102334403,71.99,1.60,10550.206,7.367054e+09,1.079649e+12
807,Indonesia,Asia,273523621,71.72,1.04,11188.744,1.961711e+10,3.060386e+12
753,Brazil,South America,212559409,75.88,2.20,14103.452,1.612901e+10,2.997821e+12
766,China,Asia,1439323774,76.91,4.34,15308.712,1.106984e+11,2.203419e+13