In [5]:
import pandas as pd
import numpy as np
import math

airports = pd.read_csv("airport_location.csv")

In [6]:
def haversine_formula(selected_latitude_1, selected_longitude_1,
                      selected_latitude_2, selected_longitude_2):
    
    #converting to radians
    lat1 = math.radians(selected_latitude_1)
    lat2 = math.radians(selected_latitude_2)
    long1 = math.radians(selected_longitude_1)
    long2 = math.radians(selected_longitude_2)

    #computing differences
    diff_lat = abs(lat1 - lat2)
    diff_long = abs(long1 - lat2)

    a = (math.sin(diff_lat/2))**2 + math.cos(lat1)*math.cos(lat2)*((math.sin(diff_long/2))**2)

    c = 2 * math.atan2(np.sqrt(a), np.sqrt(1-a))

    d = 6371 * c

    return math.trunc(d)

In [8]:
#filtering df and saving selected airport lat and long
airports1 = airports[airports["Airport Code"] == "CDG"]
lat = airports1["Lat"]
long = airports1["Long"]
airports2 = airports[airports["Airport Code"] != "CDG"]

airports2["Distance"] = airports2.apply(lambda x: haversine_formula(lat, long, x["Lat"], 
                                                                    x["Long"]), axis=1)

/var/folders/2z/gg85_7kx0tv9_7p0slp6zf_m0000gn/T/ipykernel_35838/3783189732.py:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat1 = math.radians(selected_latitude_1)
/var/folders/2z/gg85_7kx0tv9_7p0slp6zf_m0000gn/T/ipykernel_35838/3783189732.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  long1 = math.radians(selected_longitude_1)
/var/folders/2z/gg85_7kx0tv9_7p0slp6zf_m0000gn/T/ipykernel_35838/1590188365.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airports2["Distance"] = airports2.apply(lambda x: haversine_formula(lat, long, x["Lat"],

In [10]:
airports2.sort_values(by= "Distance", ascending=False, inplace=True)
airports2

/var/folders/2z/gg85_7kx0tv9_7p0slp6zf_m0000gn/T/ipykernel_35838/3299714289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airports2.sort_values(by= "Distance", ascending=False, inplace=True)

  Airport Code        Lat        Long  Distance
1          CHC -43.489399  172.531998     11220
6          ONU -20.650000 -178.699997      8080
2          DYR  64.734901  177.740997      3956
5          OME  64.512199 -165.445007      3948
4          HNL  21.318701 -157.921997      3498
3          EWR  40.692501  -74.168701      3108
7          PEK  40.080101  116.584999      3099

In [13]:
airports["Airport Code"].values.tolist()

['CDG', 'CHC', 'DYR', 'EWR', 'HNL', 'OME', 'ONU', 'PEK']